@model IEnumerable<CathysWebsite.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>
<div style="width:100%;background-color:aqua;">
    <ul id="reviewsList" style="background-color:green;list-style-type:none;">
        @foreach (CathysWebsite.Models.Review review in Model)
        {
            <li style="width:30%; background-color:red; float:left; padding-right:10px;">
                <h3>@review.Title</h3>
                <a href="@review.Link">
                    <div class="ReviewLinkContainer" style="background-color:darkorange;max-height:100%;max-width:100%;">
                        <img src="@review.Imagepath" />
                        <p>@review.Description</p>
                    </div>
                </a>
            </li>
        }
    </ul>
</div>


<script>

</script>