@model IEnumerable<CathysWebsite.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>
<a type="button" href="/Reviews/Create">Add</a>
<div style="width:100%;">
    <ul id="reviewsList" style="list-style-type:none;">
        @foreach (CathysWebsite.Models.Review review in Model)
        {
            <li style="width:30%; float:left; padding-right:10px;">
                <div class="ReviewContainer" style="max-height: 300px; overflow: hidden;">
                    <h3>@review.Title</h3>
                    <a href="@review.Link" style="">
                        <div class="ReviewLinkContainer" style="max-width:100%;">
                            <img src="@( string.Format( "data:image/Bmp;base64,{0}", Convert.ToBase64String( review.Image ) ) )">
                            <p>@review.Description</p>
                        </div>
                    </a>

                </div>
            </li>
        }
    </ul>
</div>
